body{
    font-size: 20px;
    text-align: center;
}

h1{
    font-size: 50px;
    color: turquoise;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgb(211, 211, 211);
}


.content{
    font-size: 26px;
    color: salmon;
    text-shadow: 2px 2px 5px cornsilk;
    text-decoration: none;
    margin: 6px 6px;
    padding: 20px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.content:hover{
    background-color: mintcream;
}

.convert{
    font-size: 26px;
    color: sandybrown;
    text-shadow: 2px 2px 5px cornsilk;
    text-decoration: none;
    margin: 8px 8px;
    padding: 25px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.convert:hover{
    background-color: seashell;
}

.merge{
    font-size: 26px;
    color: palevioletred;
    text-shadow: 2px 2px 5px cornsilk;
    text-decoration: none;
    margin: 8px 8px;
    padding: 25px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.merge:hover{
    background-color: lightgoldenrodyellow;
}

option{
    color: palegreen;
    background-color: lightcoral;
}

.colorchange{
    animation: colorchangedocs 3s infinite;
}

#myFile {
    padding: 10px;
    width: 260px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  #myFile:hover {
    background-color: #00b28f;
  }
  

@keyframes colorchangedocs{
    0%{color: turquoise;}
    25%{color: rosybrown;}
    50%{color: palegreen;}
    100%{color: lightsalmon;}
}

@media screen and (max-width: 1150px){
    body{
        background-color: ivory;
    }
}

@media screen and (max-width: 950px){
    body{
        background-color: aliceblue;
    }
    h1{
        font-style: italic;
    }
    .content, .convert, .merge{
        font-style: italic;
    }
}

@media screen and (max-width: 650px){
    body{
        background-color: lavenderblush;
    }
    h1{
        font-style: oblique;
    }
    .content, .convert, .merge{
        font-style: oblique;
    }
}
    
